@import 'src/styles/vars';

@media screen and (min-width: 300px) {
  .requirements {
    padding: 0 30px 0 50px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: $color-red;
    font-style: italic;

    &-span {
      font-size: 10px;
    }
  }

  .signUp {
    max-width: 80%;
    margin: 7rem auto 1rem;

    &-text {
      font-size: 0.7rem;
      margin-top: 3rem;
      text-align: center;

      &-link {
        font-weight: 700;
        text-decoration: underline;

        &:hover {
          color: $color-blue;
        }
      }
    }

    &-error {
      color: red;
      text-align: justify;
      line-height: 1.3rem;
      font-size: .8rem;
      width: 80%;
      margin: 0 auto;
      transition: .3s;
      background-color: pink;
      padding: 1rem;
      border-radius: 1em;
      border: 1px solid #f5c6cb;
    }

    &-password-icon {
      position: absolute;
      top: 9px;
      right: 10px;
      cursor: pointer;
      padding: 0 .5rem;
      font-size: 1.3rem;
    }

    &-box {
      margin-bottom: 1rem;
      margin-top: -1rem;
      margin-left: 1.8rem;

      &-text {
        font-size: .8rem;
        text-decoration: underline;
        margin-left: .5rem;

        &:hover {
          color: $color-blue;
        }
      }
    }

    &-subtitle {
      font-size: 1.3rem;
      text-align: center;
      font-weight: 700;
      margin: 1rem;
    }

    &-form {
      &-container {
        margin: 3.5rem 1rem 2rem;
        position: relative;
        background: $color-white;
      }

      &-important {
        font-size: 0.6rem;
        font-style: italic;
        margin-left: 1.8rem;
        margin-bottom: 2.5rem;
        margin-top: .8rem;
        display: block;
        color: gray;
        width: 55%;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .signUp {
    width: 70%;
    border: 1px solid $color-gray-light;
    border-radius: 2em;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 5px 0px $color-fullBlack;
    box-shadow: 0px 0px 5px 0px $color-fullBlack;
    background-color: $color-white;
    margin: 2rem auto;

    &-container {
      margin: 0;
      padding: 2rem 0;
    }

    &-box {
      margin-left: 2rem;
      text-align: left;
    }
  }
}

@media screen and (min-width: 1000px) {
  .signUp {
    width: 40%;
  }
}
