* {
  box-sizing: border-box;
}

@media screen and (min-width: 300px) {
  .BeComePote {
    font-weight: 600;
  }

  .requirements {
    padding: 0 30px 0 50px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
  }

  input[type="submit"] {
    font-family: 'Comfortaa', cursive;
    display: block;
    width: 100%;
    color: #292929;
    border: 0;
    font-size: 1.1em;
    text-align: right;
  }
  
  .signIn {
    max-width: 80%;
    margin: 10rem auto 1rem;
  
    &-title {
      font-size: 4em;
      font-weight: 700;
      text-align: center;
    }

    &-subtitle {
      font-size: 0.8rem;
      text-align: center;
      font-style: italic;
      margin: 1rem;
      line-height:1.1rem;
    }

    &-form {
      &-container {
        margin: 3.5rem 1rem 0;
        position: relative;
        background: white;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-forgottenPassword {
        font-size: 0.6rem;
        text-decoration: underline;
        font-style: italic;
        margin-left: 1.8rem;
        margin-bottom: 5rem;
        margin-top: .8rem;
        display: block;
        color: gray;
      }

      &-label {
        opacity: 0.5;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 11px;
        left: 20px;
        cursor: auto;
        display: block;
        transition: 0.2s;

        &-icon {
          display: inline;
          vertical-align: text-top;
        }
      }

      &-input {
        display: block;
        margin: .5rem auto;
        width: 100%;
        border-radius: 2em;
        padding: 0.7rem 2.1rem;
        border: none;
        box-shadow: 0px 0px 5px 0px #7c7c7c;

        &:focus {
          ~ .signIn-form-label {
            position: absolute;
            top: -22px;
            display: block;
            transition: 0.2s;
            opacity: 1;
          }
          
          background: #eee;
          border-width: 3px;
          border-image-slice: 1;
        }

        &:placeholder-shown {
          font-style: italic;
        }
        
        &:valid {
          background: url(https://i.imgur.com/cKUyms3.png);
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 10px 10px;

          & + label {
            opacity: 0;
          }
        }

        &:invalid:not(:focus):not(:placeholder-shown) {
          background: pink;

          & + label {
            opacity: 0;
          }
        }
        
        &:invalid:focus:not(:placeholder-shown) {
          & ~ .requirements {
            max-height: 200px;
            padding: 0 15px 20px 15px;
            font-size: 13px;
          }
        }

        &-send {
          text-align: right;
          border: none;
          background: none;
          font-size: 1.4em;

          &-icon {
            display: flex;
            justify-content: flex-end;
          }

          &-arrow {
            background: linear-gradient(to left, #ee670d,#e9872b);
            border-radius: 2em;
            display: inline-block;
            margin-left: 0.5rem;
            vertical-align: middle;
            width: 3rem;
            text-align: center;
            color:
            #fff;
            padding: 0.5rem;
          }
        }
      }
    }
    &-text {
      font-size: 0.7rem;
      margin-top: 3rem;
      text-align: center;

      &-link {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}
