@import 'src/styles/vars';

@media screen and (min-width: 300px) {
  .BeComePote {
    font-weight: 600;
  }

  .requirements {
    padding: 0 30px 0 50px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: $color-red;
    font-style: italic;
    
    &-span {
      font-size: 10px;
    }
  }

  button[type="submit"] {
    font-family: 'Comfortaa', cursive;
    display: block;
    width: 100%;
    color: $color-black;
    border: 0;
    font-size: 1.1em;
    text-align: right;

    &:hover {
      color: $color-blue;
    }
  }

  .signIn {
    max-width: 80%;
    margin: 10rem auto 1rem;
  
    &-title {
      font-size: 4em;
      font-weight: 700;
      text-align: center;
    }

    &-password-icon {
      position: absolute;
      top: 9px;
      right: 10px;
      cursor: pointer;
      padding: 0 .5rem;
      font-size: 1.3rem;
    }

    &-error {
      color: red;
      margin: 10px 22px;
      font-size: 14px;
      padding: 1rem;
      border-radius: 2em;
      transition: .3s;

      &--message {
        margin-left: .3rem;
        display: inline;
        vertical-align: text-top;
      }

      &--link {
        color: blue;

        &:hover {
          opacity: .7;
        }
      }
    }

    &-subtitle {
      font-size: 0.8rem;
      text-align: center;
      font-style: italic;
      margin: 1rem;
      line-height:1.1rem;
    }

    &-form {
      &-container {
        margin: 3.5rem 1rem 0;
        position: relative;
        background: $color-white;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-forgottenPassword {
        font-size: 0.6rem;
        text-decoration: underline;
        font-style: italic;
        margin-left: 1.8rem;
        margin-bottom: 2.5rem;
        margin-top: .8rem;
        display: block;
        color: gray;
        width: 45%;

        &:hover {
          color: $color-blue;
        }
      }

      &-label {
        opacity: 0.5;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        top: 11px;
        left: 20px;
        cursor: auto;
        display: block;
        transition: 0.2s;

        &-icon {
          display: inline;
          vertical-align: text-top;
        }
      }

      &-input {
        display: block;
        margin: .5rem auto;
        width: 100%;
        border-radius: 2em;
        padding: 0.7rem 2.1rem;
        border: none;
        box-shadow: 0px 0px 5px 0px $color-grey-shadow;

        &:focus {
          ~ .signIn-form-label {
            position: absolute;
            top: -8px;
            display: block;
            transition: 0.2s;
            opacity: 1;
            padding: 0 .5rem;
            background-color: $color-white;
            border-radius: 2em;
            font-size: 12px;
            color: $color-blue;
          }
          box-shadow: 0px 0px 5px 0px $color-blue;
          border-width: 3px;
          border-image-slice: 1;
        }

        &:placeholder-shown {
          font-style: italic;
        }
        
        &:valid {
          background: url(https://i.imgur.com/cKUyms3.png);
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 10px 10px;

          & + label {
            opacity: 0;
          }
        }

        &:invalid:not(:focus):not(:placeholder-shown) {
          box-shadow: 0px 0px 5px 0px $color-red;

          & + label {
            opacity: 0;
          }
        }
        
        &:invalid:focus:not(:placeholder-shown) {
          & ~ .requirements {
            max-height: 200px;
            padding: 0 15px 20px 15px;
            font-size: 13px;
          }
        }

        &-send {
          text-align: right;
          border: none;
          background: none;
          font-size: 1.4em;

          &-icon {
            display: flex;
            justify-content: flex-end;
          }

          &-arrow {
            background: linear-gradient(to left, #ee670d,#e9872b);
            border-radius: 2em;
            display: inline-block;
            margin-left: 0.5rem;
            vertical-align: middle;
            width: 3rem;
            text-align: center;
            color: $color-white;
            padding: 0.5rem;
          }
        }
      }
    }
    &-text {
      font-size: 0.7rem;
      margin-top: 3rem;
      text-align: center;

      &-link {
        font-weight: 700;
        text-decoration: underline;

        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .signIn {
    width: 70%;
    border: 1px solid $color-gray-light;
    border-radius: 2em;
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px $color-fullBlack;
    background-color: $color-white;
    margin: 0 auto;

    &-container {
      // background: linear-gradient(to left, #ee670d,#e9872b);
      background-image: url(https://i.imgur.com/kT1GBhu.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      padding: 22% 0;
    }

    &-box {
      margin-left: 2rem;
      text-align: left;
    }
  }
}

@media screen and (min-width: 1000px) {
  .signIn {
    width: 40%;

    &-container {
      padding: 5rem 0;
    }
  }
}
