@media screen and (min-width: 300px) {
  // Gras pour la marque
  .beComePote {
    font-weight: 700;
  }

  .homePage-layout {

  }

  // Mise en page de l'accueil
  .homePage {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;

    &-header {

      // Position du logo
      &-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        position: relative;
        padding-top: 4rem;
      }

      // Position du titre de l'app
      &-title {
        font-size: 1.5em;
        text-align: center;
        font-weight: 700;
        margin: 1.2rem 0 0;
        background: linear-gradient(to left, #ee670d,#e9872b);
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
      }

      // Position du slogan
      &-subtitle {
        font-size: 0.8em;
        font-style: italic;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 0.15rem;
        font-weight: 600;
      }
    }

    // Position du texte de description
    &-content {
      line-height: 1.4rem;
      margin-bottom: 2rem;
    }

      // Liens de connexion
      &-links {
      display: flex;
      flex-direction: column;
      line-height:1.8rem;
      margin-top: 2.5rem;
      z-index: 3;
      text-align: center;

      &-button {
        margin-bottom: 0.4rem;

        &-arrow {
          background: linear-gradient(to left, #ee670d,#e9872b);
          padding: .3rem;
          border-radius: 50%;
          display: inline-block;
          margin-left: 0.5rem;
          vertical-align: middle;
          width: 2rem;
          height: 2rem;
          text-align: center;
          color: #fff;
        }
      }
    }

    // Footer
    &-footer {
      font-size: 0.65em;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
 
  .homePage {
  
    &-header {

      &-logo {
        width: 30%;
        margin-top: 10rem;
      }
    }
  }
}


@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1650px) {
  
}
