@import 'src/styles/vars';

@media screen and (min-width: 300px) {
  /* 
  Set up of the form section
  */
  // Error message for inputs
  .requirements {
    padding: 0 30px 0 50px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: $color-red;
    font-style: italic;

    &-span {
      font-size: 10px;
    }
  }
  /*
  Set up of the accordion general layout and behaviour
  */
  .tab-list {
    border-bottom: 2px solid $color-orange;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
  
  .tab-list-active {
    background-color: white;
    border: 2px solid $color-orange;
    border-width: 2px 2px 0 2px;
    border-radius: 10px;
    transform: scale(1.2);
    margin: 0 1rem;
    opacity: 1;
    transition: 0.3s;
  }
  
  /*
  Set up of the profile section
  */
  .profile {
    &-disabled {
      cursor: not-allowed;
      //opacity: .5;
    }
  
    &-danger-zone {
      &-title {
        font-size: 1.5rem;
        margin-top: 1rem;
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: .2rem;
        color: RGBA(255, 0, 0, 0.7);
      }
    }

    &-modification {
      text-align: right;
      font-size: 10px;
      margin: .4rem 1rem;

      &-span {
        opacity: .7;
      }
    }
    &-select{
      font-size: 13px;
      background: #fff;
      border-radius: 1em;
      position: relative;

      &-button {
        border: none;
        background: none;
        text-align: center;
        margin: 0 auto;
        background-color: $color-orange;
        padding: 1rem;
        color: white;
        font-size: 15px;
        border-radius: 2em;
      }
    }
    
    &-hr {
      width: 30%;
      color: $color-orange;
    }
    &-label-presentation {
      line-height: 2.5rem;
    }    
    &-label-avatar {
      margin: 1rem auto .5rem;
      opacity: 0.8;
      font-size: 0.8em;
      font-weight: bold;
      color: #292929;
      cursor: default;
    }
    // Container for the full profile page
    &-layout{
      position: relative;
    }
    &-container {
      text-align: center;
      margin-bottom: 7.5rem;

      // Image container for avatar
      &-image {
        // background: $gradient-background2;
        // height: 350px;
        // border-bottom-left-radius: 70%;
        // -webkit-box-shadow: inset 3px 0px 15px #292929;
        // box-shadow: inset 3px 0px 15px #292929;
      }
    }

    // Avatar section
    &-header {
      height: 250px;
      width: 250px;
      margin-top: 40px;
      border-radius: 50%;
      border: 0.5em solid rgba(55, 55, 55, .4);
      -webkit-filter: drop-shadow(2px 2px 2px white);
      filter:  drop-shadow(2px 2px 20px black);
      object-fit: cover;
      margin-bottom: 2.5rem;
    }

    // Wrapper for the section under the avatar
    &-wrapper {
      width: 85%;
      margin-right: auto;
      margin-left: auto;
    }

    // Page title - h1
    &-title {
      font-size: 1.3rem;
      text-align: center;
      font-weight: 700;
      margin: 2rem 0 0;
      color: $color-black;
      text-transform: uppercase;
      // position: absolute;
      // transform: rotate(-90deg) translate(-70%, 130%);
      // top: 0;
      // right: 0;
    }

    &-response {
      &-container {
        line-height: 1.5rem;
        text-align: left;
        margin-bottom: 1rem;
      }

      &-title {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: left;
        margin-bottom: 1rem;
      }

      &-text {
        font-size:1rem;
      }

      &-choice {
        font-style: italic;
        font-style: 0.75rem;
      }

      &-hr {
        width: 30%;
        color: #f7862f;
        margin-bottom: 1rem;
      }
    }
  }


  // Layout of the form before inputs
  .profile-form {
    margin: 0 auto;
    padding: 2rem;

    &-info {
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }

    &-quizz-answers {
      width: 100%;
      text-align: left;
      margin-left: 0.8rem;
    }

    &-quizz-container {
    }

    &-button {
      display: flex;
      flex-direction: column;
      
      &-title {
        margin: 1rem auto;
      }

      &-container {
        margin: 1.5rem auto;
        padding: .5rem 0;
      }

      &-button {
        border: none;
        background: none;
        margin: 0 auto;
        background-color: $color-orange;
        padding: 1rem;
        color: white;
        font-size: 15px;
        border-radius: 2em;
        display: inline-block;
        text-align: center;
        margin-top: 0.5rem;
        text-transform: uppercase;

        & svg {
        margin-left: .5rem;
        display: inline;
        vertical-align: text-top;
        font-size: 1.1rem;
      }
    }
  }

    &-subtitle {
      margin-bottom: 1.3rem;
      font-style: italic;
      text-transform: uppercase;
      font-weight: bold;
    }

    // General form container
    &-container {
      margin: 1rem 0rem 1.7rem;
      &:nth-child(4) {
        margin-bottom: 5rem;
      }
    }

    // Title of inputs
    &-label {
      opacity: 0.8;
      font-size: 0.8em;
      font-weight: bold;
      display: block;
      text-align: left;
      color: #292929;
      cursor: default;
    }
  }

  /* 
  Set up of the edition mode
  */
  // Edition mode container
  .edition-mode {
    margin-right: auto;
    margin-left: auto;
    line-height: 2.5rem;
    transition: all .4s ease-in;
    text-align: left;
    border-bottom: 0.1rem solid #fff;

    // If edition mode is active
    &.open {
      width: 100%;
      border: none;
    }

    &.presentation {
      line-height: 1.5rem;
      overflow-wrap: break-word;
      width: 90%;
      display: inline-block;
      text-align: justify;
      padding:0 0.6rem 0 0;
    }

    // Input area
    &-text {
      font: inherit;
      line-height: 1.5em;
      width: 75%;
      padding-left: 0.2rem;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-color: $color-orange-light;
    }

    // Icon container
    &-button {
      background-color: rgba(119, 93, 165, 0);
      border: none;
      outline: 0;
      width: 10%;
      float: right;
      margin-top: .6rem;
    }

    // Icons to edit, check or cancel the edition action
    &-icon {
    font-size: 1.1rem;
    color: $color-black;
    }
  }

  // Presentation accordion element
  // Section title
  .redaction {
    // width: 100%;
    line-height: 0;
  }
  // Textarea of the presentation section
  textarea {
    width: 100%;
  }

  // Questionnaire accordion element
    .profile-form-quizz {
      border: 1px solid $color-orange-light;
      border-radius: 1em;
      padding: 1rem;
      margin: 1rem auto;
      line-height: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .tab-list-item {
    padding: 0.5rem 0.75rem;
  }
  // Edition mode container
  .profile-layout {
    margin-top: 5rem;
  }
}

// @media screen and (min-width: 1000px) {
  
// }
