@import 'src/styles/vars';

@media screen and (min-width: 300px) {
/*-------------------------------------------*\
    
    The style of the component CustomPrompt
  
\*-------------------------------------------*/
  .prompt {
    z-index: 2;
    width: 100%;
    padding: 1.2rem;
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    
    &-blur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.7);
      z-index: 500;
    }


    &-1 {
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0,0,0,.16),0 1px 3px rgba(0,0,0,.13);
    }

    &-head {
      padding: 10px 15px 10px 20px;
      background-color: $color-blue;

      &-title {
        color: #fff;
        position: relative;

        &--span {
          position: absolute;
          right: 0;
          cursor: pointer;
          width: 30px;
          height: 20px;
        }
      }
    }

    &-message {
      padding: 20px;
      background-color: #fff;
    }

    &-buttons {
      padding: 1rem;
      text-align: center;
      background-color: #fff;

      &-item {
        &--cancel {
          padding: .5rem;
          color: red;
          border-radius: .5rem;
          margin-right: 1rem;
          background-color: pink;
          border: 1px solid #f5c6cb;
        }
        &--confirm {
          padding: .5rem;
          border-radius: .5rem;
          margin-left: 1rem;
          border: 1px solid #c3e6cb;
          background-color: #d4edda;
          color: #155724;
        }
      }
    }
  }
}
