@import 'src/styles/index';

@media screen and (min-width: 300px) {
  /* 
  Set up of the search page
  */
  .categories {
    padding-bottom: 6rem;
    background: #eee;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
  }

  .category-card {
    margin-top: 2rem;
    @include box-shadow(0px 0px 5px 0px #7c7c7c);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    &-image {
      display: block;
      height: 160px;
      width: 300px;
      object-fit: cover;
    }

    &-options {
      line-height: 1.7rem;
      background: #292929;
      color: #fff;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      &-name {
        text-align: center;
        font-size: 1.3rem;
        color: #fff;
        padding: .7rem 0;
      }
    }
  }
}
