@import 'src/styles/vars';

@media screen and (min-width: 300px) {
/*-------------------------------------------*\
    form style:

      - SignIn
      - SignUp
      - NewPassword
      - ForgottenPassword
  
\*-------------------------------------------*/
  ._form {
    &-label {
	  opacity: 0.5;
	  font-size: 12px;
	  font-weight: bold;
	  position: absolute;
	  top: 13px;
	  left: 20px;
	  cursor: auto;
	  display: block;
	  transition: 0.2s;

      &-icon {
        display: inline;
        vertical-align: text-top;
      }
    }
    &-input {
	  display: block;
	  margin: .5rem auto;
	  width: 100%;
	  border-radius: 1em;
	  padding: 0.7rem 2.1rem;
	  border: solid 1px RGBA(124, 124, 124, .7);

      &:focus {
        ~ ._form-label {
          position: absolute;
          top: -8px;
          display: block;
          transition: 0.2s;
          opacity: 1;
          padding: 0 .5rem;
          background-color: $color-white;
          border-radius: 2em;
          font-size: 12px;
          color: $color-blue;
        }

        border: solid 1px $color-blue;
        border-image-slice: 1;
      }

      &:placeholder-shown {
        font-style: italic;
      }
      
      &:valid {
        background: url(https://i.imgur.com/cKUyms3.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 10px 10px;
        border-color: #2ecc71;

        & + label {
          position: absolute;
          top: -8px;
          display: block;
          transition: 0.2s;
          opacity: 1;
          padding: 0 .5rem;
          background-color: #fff;
          border-radius: 2em;
          font-size: 12px;
          color: #2ecc71;

        }
      }

      &:invalid:not(:focus):not(:placeholder-shown) {
        ~ ._form-label {
          position: absolute;
          top: -8px;
          display: block;
          transition: 0.2s;
          opacity: 1;
          padding: 0 .5rem;
          background-color: $color-white;
          border-radius: 2em;
          font-size: 12px;
          color: #e74c3c;
        }

        & + ._form-input {
          border: none;
        }

        border-color: #e74c3c;
        
        & + label {
          opacity: 0;
        }
      }
      
      &:invalid:focus:not(:placeholder-shown) {
        & ~ .requirements {
          max-height: 200px;
          padding: 0 15px 20px 15px;
          font-size: 13px;
        }
      }
    }
  }
}
