// == Couleurs primaire
$color-black: #292929;
$color-fullBlack: #000;
$color-white: #fff;
$color-red: #ff0000;
$color-gray-light: #eee;

// == Charte graphique
$color-blue: #2191db;
$color-blue-light: #2ebfc0;
$color-orange: #f7862f;
$color-orange-light: #fabe52;

// == Shadow
$color-grey-shadow: #7c7c7c;
