// == Couleurs primaire
$color-black: #292929;
$color-fullBlack: #000;
$color-white: #fff;
$color-red: #ff0000;
$color-gray-light: #eee;

// == Charte graphique
$color-blue: #2191db;
$color-blue-light: #2ebfc0;
$color-orange: #f7862f;
$color-orange-light: #fabe52;

// == Shadow
$color-grey-shadow: #7c7c7c;

// == Background BeComePote
$gradient-background: linear-gradient(to left, #3453a1, #775da5, #ce6795, #e68676);
$gradient-background2: linear-gradient(to bottom, #3453a1, #775da5, #ce6795, #e68676);
$gradient-background3: linear-gradient(to top, #3453a1, #775da5, #ce6795, #e68676);
$gradient-button: linear-gradient(to left, #ee670d, #e9872b);


// == Form Input Background
$form-background:#3453a1;

// == Autres
$text-primary: #ececec;
$text-secondary: #f3f1f1;
$color-button: #ee670d;
