@import 'reset';
@import 'vars';
@import '_btn';
@import '_form';
@import '_error';

body {
  font-family: sans-serif;
}

html {
  scrollbar-color: #f7862f rgba(219,26,103,.15);
  scrollbar-width: thin;
}
