@import 'src/styles/vars';

@media screen and (min-width: 300px) {
  .requirements {
    padding: 0 30px 0 50px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: $color-red;
    font-style: italic;

    &-span {
      font-size: 10px;
    }
  }

  .newPassword {
    max-width: 80%;
    margin: 2rem auto 1rem;

    &-password-icon {
      position: absolute;
      top: 9px;
      right: 10px;
      cursor: pointer;
      padding: 0 .5rem;
      font-size: 1.3rem;
    }

    &-description {
      text-align: justify;
      line-height: 1.3rem;
      font-size: .8rem;
      width: 80%;
      margin: 0 auto;
      transition: .3s;

      &-message {
        text-align: justify;
        line-height: 1.3rem;
        font-size: 0.8rem;
        width: 80%;
        margin: 1rem auto;
        transition: .3s;
        padding: 1rem;
        border-radius: 1em;
        border: 1px solid #c3e6cb;
        background-color: #d4edda;
        color: #155724;
  
        &-link {
          color: blue;
        }
      }
    }

    &-box {
      margin-bottom: 2rem;
      margin-top: -1rem;
      text-align: center;

      &-text {
        font-size: .8rem;
        text-decoration: underline;
        margin-left: .5rem;

        &:hover {
          color: $color-blue;
        }
      }
    }

    &-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      width: 50%;
      position: relative;
      padding-top: 2rem;
    }

    &-subtitle {
      font-size: 1.3rem;
      text-align: center;
      font-style: italic;
      margin: 1rem;
      font-weight: 700;
    }

    &-form {
      &-container {
        margin: 3.5rem 1rem 2rem;
        position: relative;
        background: $color-white;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .newPassword {
    width: 70%;
    border: 1px solid $color-gray-light;
    border-radius: 2em;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 5px 0px $color-fullBlack;
    box-shadow: 0px 0px 5px 0px $color-fullBlack;
    background-color: $color-white;
    margin: 0 auto;

    &-logo {
      width: 30%;
      padding-top: 0;
    }

    &-container {
      // background: linear-gradient(to left, #ee670d,#e9872b);
      background-image: url(https://i.imgur.com/xQrtPdC.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      padding: 22% 0;
    }

    &-box {
      margin-left: 2rem;
      text-align: left;
    }
  }
}

@media screen and (min-width: 1000px) {
  .newPassword {
    width: 40%;

    &-container {
      padding: 4rem 0;
    }
  }
}
