@import 'src/styles/vars';

@media screen and (min-width: 300px) {
  .requirements {
    padding: 0 30px 0 50px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: $color-red;
    font-style: italic;

    &-span {
      font-size: 10px;
    }
  }

  button[type="submit"] {
    font-family: 'Comfortaa', cursive;
    // display: block;
    // width: 50%;
    // color: $color-black;
    // border: 0;
    // font-size: 1.1em;
    // text-align: right;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 70%;
    background: linear-gradient(to left, #ee670d, #e9872b);
    border-radius: 2em;

    
    &:hover {
      // color: $color-blue;
      opacity: .7;
    }
  }

  .newPassword {
    max-width: 80%;
    margin: 2rem auto 1rem;

    &-password-icon {
      position: absolute;
      top: 9px;
      right: 10px;
      cursor: pointer;
      padding: 0 .5rem;
      font-size: 1.3rem;
    }

    &-description {
      text-align: justify;
      line-height: 1.3rem;
      font-size: .8rem;
      width: 80%;
      margin: 0 auto;
      transition: .3s;

      &-message {
        text-align: justify;
        line-height: 1.3rem;
        font-size: 0.8rem;
        width: 80%;
        margin: 1rem auto;
        transition: .3s;
        padding: 1rem;
        border-radius: 1em;
        border: 1px solid #c3e6cb;
        background-color: #d4edda;
        color: #155724;
  
        &-link {
          color: blue;
        }
      }
    }

    &-box {
      margin-bottom: 2rem;
      margin-top: -1rem;
      text-align: center;

      &-text {
        font-size: .8rem;
        text-decoration: underline;
        margin-left: .5rem;

        &:hover {
          color: $color-blue;
        }
      }
    }

    &-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      width: 50%;
      position: relative;
      padding-top: 2rem;
    }

    &-subtitle {
      font-size: 1.3rem;
      text-align: center;
      font-style: italic;
      margin: 1rem;
      font-weight: 700;
    }

    &-form {
      &-container {
        margin: 3.5rem 1rem 2rem;
        position: relative;
        background: $color-white;
      }

      &-label {
        opacity: 0.5;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 11px;
        left: 20px;
        cursor: auto;
        display: block;
        transition: 0.2s;

        &-icon {
          display: inline;
          vertical-align: text-top;
        }
      }

      &-input {
        display: block;
        margin: .5rem auto;
        width: 100%;
        border-radius: 2em;
        padding: 0.7rem 2.1rem;
        border: none;
        box-shadow: 0px 0px 5px 0px $color-grey-shadow;

        &:focus {
          ~ .newPassword-form-label {
            position: absolute;
            top: -8px;
            display: block;
            transition: 0.2s;
            opacity: 1;
            padding: 0 .5rem;
            background-color: $color-white;
            border-radius: 2em;
            font-size: 12px;
            color: $color-blue;
          }
          box-shadow: 0px 0px 5px 0px $color-blue;
          border-width: 3px;
          border-image-slice: 1;
        }

        &:placeholder-shown {
          font-style: italic;
        }
        
        &:valid {
          background: url(https://i.imgur.com/cKUyms3.png);
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 10px 10px;

          & + label {
            opacity: 0;
          }
        }

        &:invalid:not(:focus):not(:placeholder-shown) {
          box-shadow: 0px 0px 5px 0px $color-red;

          & + label {
            opacity: 0;
          }
        }
        
        &:invalid:focus:not(:placeholder-shown) {
          & ~ .requirements {
            max-height: 200px;
            padding: 0 15px 20px 15px;
            font-size: 13px;
          }
        }

        &-send {
          text-align: right;
          border: none;
          background: none;
          font-size: 1.2em;

          &-icon {
            display: flex;
            justify-content: center;
            margin-top: 5rem;
            color: #fff;
          }

          &-arrow {
            // background: linear-gradient(to left, #ee670d,#e9872b);
            // border-radius: 2em;
            // display: inline-block;
            // margin-left: 0.5rem;
            // vertical-align: middle;
            // width: 3rem;
            // text-align: center;
            // color: $color-white;
            // padding: 0.5rem;
            display: flex;
            justify-content: flex-end;
            padding: .5rem;
            width: 3rem;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  button[type="submit"] {
    width: 50%;
    margin-left: auto;
  }

  .newPassword {
    width: 70%;
    border: 1px solid $color-gray-light;
    border-radius: 2em;
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px $color-fullBlack;
    background-color: $color-white;
    margin: 0 auto;

    &-logo {
      width: 30%;
      padding-top: 0;
    }

    &-container {
      // background: linear-gradient(to left, #ee670d,#e9872b);
      background-image: url(https://i.imgur.com/xQrtPdC.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      padding: 22% 0;
    }

    &-box {
      margin-left: 2rem;
      text-align: left;
    }
  }
}

@media screen and (min-width: 1000px) {
  .newPassword {
    width: 40%;

    &-container {
      padding: 4rem 0;
    }
  }
}
