@media screen and (min-width: 300px) {
  .forgotten {
    max-width: 80%;
    margin: 10rem auto 1rem;

    &-subtitle {
      font-size: 1.3rem;
      text-align: center;
      font-style: italic;
      margin: 1rem;
      font-weight: 700;
    }

    &-description {
      text-align: justify;
      line-height: 1.3rem;
      font-size: .8rem;
      width: 80%;
      margin: 0 auto;
    }

    &-form {
      &-container {
        margin: 5rem 1rem 0;
      }

      &-label {
        display: inline;
        margin-left: .5rem;
      }

      &-forgottenPassword {
        font-size: 0.6rem;
        text-decoration: underline;
        font-style: italic;
        margin-left: 2rem;
        margin-bottom: 5rem;
        display: block;
        color: gray;
      }

      &-input {
        display: block;
        margin: .5rem auto;
        width: 100%;
        border-radius: 2em;
        padding: 0.7rem;
        border: none;
        -moz-box-shadow: 0px 0px 5px 0px #7c7c7c;
        -webkit-box-shadow: 0px 0px 5px 0px #7c7c7c;
        -o-box-shadow: 0px 0px 5px 0px #7c7c7c;
        box-shadow: 0px 0px 5px 0px #7c7c7c;

        &:placeholder-shown {
          font-style: italic;
          padding-left: 1rem;
        }

        &-send {
          text-align: right;
          border: none;
          background: none;
          font-size: 1.4em;

          &-icon {
            display: flex;
            justify-content: flex-end;
            margin-top: 4rem;
          }

          &-arrow {
            background: linear-gradient(to left, #ee670d,#e9872b);
            border-radius: 2em;
            display: inline-block;
            margin-left: 0.5rem;
            vertical-align: middle;
            width: 3rem;
            text-align: center;
            color:
            #fff;
            padding: 0.5rem;
          }
        }
      }
    }
    &-text {
      font-size: 0.7rem;
      margin-top: 3rem;
      text-align: center;

      &-link {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 768) {}

@media screen and (min-width: 992) {}

@media screen and (min-width: 1650) {}
