@import 'src/styles/vars';

@media screen and (min-width: 300px) {
  .requirements {
    padding: 0 30px 0 50px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: $color-red;
    font-style: italic;

    &-span {
      font-size: 10px;
    }
  }
  
  .forgotten {
    max-width: 80%;
    margin: 3rem auto 1rem;

    &-error {
      color: red;
      text-align: justify;
      line-height: 1.3rem;
      font-size: .8rem;
      width: 80%;
      margin: 1rem auto;
      transition: .3s;
      background-color: pink;
      padding: 1rem;
      border-radius: 1em;
      border: 1px solid #f5c6cb;

      &--link {
        color: blue;

        &:hover {
          opacity: .7;
        }
      }
    }

    &-sendMail {
      text-align: justify;
      line-height: 1.3rem;
      font-size: 0.8rem;
      width: 80%;
      margin: 1rem auto;
      transition: .3s;
      padding: 1rem;
      border-radius: 1em;
      border: 1px solid #c3e6cb;
      background-color: #d4edda;
      color: #155724;

      &-link {
        color: blue;
      }
    }

    &-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      width: 50%;
      position: relative;
      padding-top: 4rem;
    }

    &-subtitle {
      font-size: 1.3rem;
      text-align: center;
      font-style: italic;
      margin: 1rem;
      font-weight: 700;
    }

    &-description {
      text-align: justify;
      line-height: 1.3rem;
      font-size: .8rem;
      width: 80%;
      margin: 0 auto;
    }

    &-form {
      &-container {
        margin: 2.5rem 1rem 0;
        position: relative;
        background: $color-white;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-text {
      font-size: 0.7rem;
      margin-top: 3rem;
      text-align: center;

      &-link {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}

// == Size tablet
@media screen and (min-width: 768px) {
  .forgotten {
    width: 70%;
    border: 1px solid $color-gray-light;
    border-radius: 2em;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 5px 0px $color-fullBlack;
    box-shadow: 0px 0px 5px 0px $color-fullBlack;
    background-color: $color-white;
    margin: 0 auto;

    &-container {
      // background: linear-gradient(to left, #ee670d,#e9872b);
      background-image: url(https://i.imgur.com/7cRqh9f.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      padding: 22% 0;
    }

    &-image {
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-logo {
      width: 30%;
      padding-top: 0;
    }

    &-box {
      margin-left: 2rem;
      text-align: left;
    }
  }
}

// == Size desktop
@media screen and (min-width: 1000px) {
  .forgotten {
    width: 40%;

    &-container {
      padding: 5rem 0;
    }
  }
}
